@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    color: cornsilk;
}

body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

input[type="number"] {
    border: none;
    border-bottom: 1px solid #CCC;
    background: none;
    text-align: center;
    font-size: 1rem;
}

input[type="number"]:focus {
    outline: none;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    text-align: center;
    font-size: 1rem;
    
}
.option {
    margin: 1rem;

}
#title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: bold;
    border-bottom: 5px solid #CCC;
    margin: 0;
    margin-bottom: 4rem;
    padding: 1rem;

}

button {
    margin: 1rem;
    background-color: cornsilk;
    border-radius: 0.8rem;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

#result {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 2.5rem;
}

#btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}